*{

    font-size:20px;
}
.czerwony{
    background-color: #d4062f;
    color:aliceblue;
    width:25%;
    border:solid;
    border-style: ridge;
    border-color: #d9a0ab;
    text-align: center;
}
.zielony{
    background-color: #d4062f;
    color:aliceblue;
    width:25%;
    border:solid;
    border-style: ridge;
    border-color: rgb(160, 173, 217);
    text-align: center;
}
.grey
{
    background-color: grey;
    color:aliceblue;
    width:25%;
    border:solid;
    border-style: ridge;
    border-color: rgb(160, 173, 217);
    text-align: center;
}
